.catalog-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 85px;
    font-weight: 100;
    margin-top: 50px;
    /* margin-left: 300px; */
}

.info-section {
    margin-bottom: 30px;
}

.product-img {
    height: 450px;
    width: 300px;
    object-fit: cover;
    object-position: 25% 25%;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.product-img:hover {
    -webkit-box-shadow: -5px 6px 10px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -5px 6px 10px -2px rgba(0, 0, 0, 0.4);
}

.product-description {
    align-self: flex-start;
    margin-top: 13.5px;
}

.description {
    line-height: 2rem;
    font-size: 0.8rem;
}

.product-description h3 {
    margin-top: 0;
    color: #7FACFA;
    font-weight: 100;
    font-size: 1.3rem;
}

#quantity-select {
    border-radius: 0;
    width: 100px;
}

.bold-option {
    font-weight: 900;
}

#price {
    font-weight: 900;
    color: rgb(80, 80, 80);
}

#price-p {
    margin-top: 47px;
}

.add {
    padding: 18px 32px;
}

#flex-div {
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
}

prod {
    width: 100%;
    position: static;
}

.popup-media {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup-media img {
    max-width: 95%;
    max-height: 90%;
    object-fit: contain;
    display: block;
    border: 3px solid white;
    /*#7FACFA;*/
}

.popup-media span {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    z-index: 100;
    user-select: none;
}

/*media queries*/
@media screen and (max-width: 875px) {

    .catalog-container {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }

    .product-img {
        height: 250px;
        width: 100%;
    }

    .product-description {
        align-self: center;
        text-align: center;
        margin-top: 50px;
    }
}