.catalog-container {
    display: flex;
    align-items:center;
    justify-content: center;
    column-gap: 85px;
    font-weight: 100;
    margin-top: 50px;
    /* margin-left: 300px; */
}

.info-section {
    margin-bottom: 30px;
}

.product-img {
    height: 450px;
    width: 300px;
    object-fit: cover;
    object-position: 25% 25%; 
}

.product-description {
    align-self: flex-start;
    margin-top: 13.5px;
}

.description {
    line-height: 2rem;
    font-size: 0.8rem;
}

.product-description h3 {
    margin-top: 0;
    color: #7FACFA;
    font-weight: 100;
    font-size: 1.3rem;
}

#quantity-select {
    border-radius: 0;
    width: 100px;
}

.bold-option {
    font-weight: 900;
}

#price {
    font-weight: 900;
    color: rgb(80, 80, 80);
}

#price-p {
    margin-top: 47px;
}

.add {
    padding: 18px 32px;
}

#flex-div {
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
}

prod {
    width: 100%;
    position: static;
}

/*media queries*/
@media screen and (max-width: 875px) {

    .catalog-container {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }

    .product-img {
        height: 250px;
        width: 100%;
    }

    .product-description {
        align-self: center;
        text-align: center;
        margin-top: 40px;
    }
}
