#main-section {
    color: rgb(120, 120, 120);
    height: 100%;
    /* margin-bottom: 50px; */
}

.content-wrapper {
    margin-top: 50px;
}

.loading {
    text-align: center;
    margin-top: 80px;
}
