@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

#welcome-image {
  position: relative;
  width: 100%;
  height: 100%;
}

#knit-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
  /* width: 80%;
  margin: 0 auto; */
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#a, #f {
  grid-column-start: 1;
  grid-column-end: span 2;
  /* display: flex;
  align-items: center;
   */
}

#d {
  font-size: 2rem;
}

#b, #g {
  grid-column-start: 3;
  grid-column-end: span 2;
}

.knit-img {
  height: 130px;
  width:130px;
} 

/* .home-image {
  background-image: url("../../media/home.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
} */
