@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');

#welcome-image {
  position: relative;
  width: 100%;
  height: 100%;
}

#knit-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 40px;
}

.knit-img {
  height: 100px;
  width:100px;
} 

/* .home-image {
  background-image: url("../../media/home.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
} */
