.cart-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-container h3 {
    color: #7FACFA;
    font-weight: 800;
}

.cart-item-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: 25% 25%;
}

.cart-view-item {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 10px;
    align-items: center;
}

.cart-view-item:hover {
    background-color: rgb(232, 231, 231);
}

.cart-view {
    padding: 0;
}

.info {
    flex-grow: 2;
}

.remove-button {
    border-radius: 0;
    border: 0;
    background-color: rgba(237, 174, 210, 0.65);
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.65rem;
}

.remove-button:hover {
    background-color: rgba(230, 140, 176, 0.9);
}

.info h4 {
    color: #7FACFA;
    font-weight: 100;
    font-size: 0.80rem;
}

.info-p {
    font-size: 0.75rem;
    line-height: 0.2rem;
}

#total {
    text-align: center;
}

.checkout-btn {
    padding: 15px 25px;
    width: 135px;
    margin: 0 auto;
    font-size: 0.9rem;
}

.link-cart {
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(120, 120, 120);
}

.qbtn {
    background-color: rgba(237, 174, 210, 0.65);
    color: white;
    cursor: pointer;
    margin: 0 3px;
    text-align: center;
    padding: 0 2px;
}

@media screen and (max-width: 875px) {

    .cart-view-item {
        flex-direction: column;
        justify-content: center;
    }

    .remove-button {
        margin-bottom: 20px;
    }

    .cart-item-img {
        height: 200px;
        width: 200px;
    }

}