.profile {
    margin-top: 50px;
}

.profile h3 {
    color: #7FACFA;
}

#info-container {
    width: 45%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(120, 120, 120);
}

#profile-info li {
 list-style-type: none;
 padding: 10px 0;
}

.info-title {
    color: #7FACFA;
}

#profile-cart {
    background-color: #7FACFA;
    padding: 13px 33px;
    float: right;
    margin-right: 350px;
    margin-top: 30px;
}

@media screen and (max-width: 700px) {
    #info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #profile-cart {
        margin: 0;
        float:none;
        margin: 0 auto;
    }

    #profile-info li {
        padding: 0;
    }
}